// Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
      .row
          .col-md-7
               h1 Пингвин логотип - Linux'а
               p
                   | Ядра свободных и бесплатных операционных систем на базе linux для дома, офиса, сервера, кластера серверов.
               p
                   a.btn.btn-primary.btn-lg(href="/services", rule='button') Подробнее >>
           .col-md-5
           img(src='images/mouse.png')
