extends layout

block content

    h1 О нас
    p
        | Если вам нужен человек из мира IT, который хочет подработать, возможно я подойду. Выпускник МГТУ им.Баума, факультет информатики и систем управления. Опыт работы системным администратором, администратором баз данных и программистом. Имею сертификат по настройке wi-fi устройств.
    p
        | Без лишнего выпендривания и чувств собственного величия и значимости к пользователям.
