extends layout
block variables
    - HOMEPAGE = true;

block content
    // Example row of columns
    .row
      .col-md-4
        h2
            i(class='glyphicon glyphicon-hdd') 
            |  Проблемы с железом
        | 
        p
          | Могу предложить варианты замены, заказа на иностранных площадках комплектующих, установку и настройку, мелкий ремонт. 
        |           
        p
          a.btn.btn-default(href='/services', role='button') Подробнее &raquo;
      |         
      .col-md-4
        h2 
            i(class='glyphicon glyphicon-list-alt') 
            |  Проблемы с софтом
        p
          | Установка и настройка лицензионных Windows или бесплатных Linux. А также офисные приложения и любые другие варианты лицензионных программ.
        |           
        p
          a.btn.btn-default(href='/services', role='button') Подробнее &raquo;
      |         
      .col-md-4         
        h2 
            i(class='glyphicon glyphicon-cog') 
            |  Необходим Upgrade
        p
          | Замена устаревших элементов компьютера более современными если это возможно. Обычно всегда можно добавить оперативной памяти или памяти жесткого диска. Иногда можно установить более современный процессор, сетевую карту .
        |           
        p
          a.btn.btn-default(href='/services', role='button') Подробнее &raquo;
