- var HOMEPAGE = false;
block variables

doctype html
html
  head
    title= title
    |   
    meta(name='description', content='Linux администратор в Москве и Подмосковье')
    |   
    meta(name='keywords', content='Linux, Docer, Kubernetes, Clouds, Oracle')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery-1.12.4.min.js')
    script(src='/js/bootstrap.js')
  body
    include ./includes/navbar.jade
    if HOMEPAGE
        include ./includes/showcase.jade

    .container
        block content

        hr
        footer
        p &copy; pingvin.org 2021. Linux администратор в Москве и Подмосковье, а также удаленно для более дальних регионов. 
